header{

    background-color: lightgrey;
}

.width70Container{
    width: 70%;
    margin: auto;
}

.headerElement{
    height: 60px;
    background-color:coral;
    padding: 2%;
}

.menuContainer{
    flex-basis: 80%;
    background-color: bisque;
}

.logoContainer,
.loginContainer{
    flex-basis: 10%;
}

.menuList{
    flex-basis: 60%;
    list-style: none;
}

.headingContainer{
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: lightyellow;
    padding-top: 8%;
    padding-bottom: 8%;
}

.mainTitle{
    margin-bottom: 5%;
}

button{
    padding: 5px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.sectionWhite{
    background-color: white;
}

.sectionGray{
    background-color: gray;
}

.sectionContainerReverse{
    flex-direction: row-reverse;
}

.larger,
.smaller{
    background-color: lightskyblue;
}

.larger{
    flex-basis: 50%;
}

.smaller{
    flex-basis: 40%;
}


